<div class="slide-container swiper">
    <div class="onSale">
        <div class="onSale_text">
            <a id="onSale_text" href="">Games On Sale</a>
        </div>
    </div>

    <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">

            {{#each slider}}
            <div class="card swiper-slide">
                {{!-- <a href="/games/{{this.id}}"> --}}
                <a href="/games/{{this.link_game_name}}">
                    <div class="image-content">
                        <div class="card-image">
                            <img src="{{this.game_img}}" alt="" class="card-img">
                        </div>
                    </div>

                    <div class="card-content">
                        <p class="game_ver">{{this.version}}</p>
                        <h2 class="game_name">{{this.game_name}}</h2>
                        <div class="disccount_and_price">
                            <p href="" class="discount_percent">{{this.off_percent}}</p>
                            <s class="discount_price">₹{{this.cut_price}}</s>
                            <p href="" class="price_after_discount">₹{{this.after_price}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}

        </div>
    </div>

    <div class="swiper-button-next swiper-navBtn"></div>
    <div class="swiper-button-prev swiper-navBtn"></div>
    {{!-- <div class="swiper-pagination"></div> --}}
</div>