<section class="carousel">
    <div class="carosel">
        <!-- Slideshow container -->
        <div class="slideshow-container">

            <!-- Full-width images with number and caption text -->
            {{#each slider.pre_img}}
                <div class="mySlides fade">

                    {{!-- <iframe id="car" src="{{this.links}}" frameborder="0" allow="autoplay; encrypted-media"
                        allowfullscreen></iframe> --}}
                    <img id="car" src="{{this.links}}" style="background:black;">
                </div>
            {{/each}}

            {{!-- <div class="mySlides fade">
                <iframe id="car" src="https://www.youtube.com/embed/WxjeV10H1F0" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div> --}}

            <!-- Next and previous buttons -->
            {{!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a> --}}
        </div>

        <!-- The dots/circles -->
        <div class="dots" style="text-align:center">
            {{#each slider.pre_img}}
            <span class="dot" onclick="currentSlide({{this.Id}})">
                <img id="dot" src="{{this.links}}">

            </span>
            {{/each}}
        </div>




        <!-- game_details -->
        <p id="game_det">
            The Grand Theft Auto V: Premium Edition includes the complete GTAV story, Grand Theft Auto Online and all
            existing gameplay upgrades and content. You’ll also get the Criminal Enterprise Starter Pack, the fastest
            way to jumpstart your criminal empire in GTA Online.
        </p>

        <div class="genre_feature">
            <div class="genre">
                <p class="gen_fe_title">
                    Genres
                </p>
                <div class="gen_fe">
                    <a href="" class="gen_fe_">Action</a>
                    <a href="" class="gen_fe_">Adventure</a>
                </div>
            </div>
            <div class="feature">
                <p class="gen_fe_title">
                    Features
                </p>
                <div class="gen_fe">
                    <a href="" class="gen_fe_">Action</a>
                    <a href="" class="gen_fe_">Adventure</a>
                </div>
            </div>
        </div>

        <!-- notes -->
        <div class="notes">
            <p id="note">Note:</p>
            <p id="note_det">
                The $1,000,000 bonus cash in GTA Online included with the Premium Edition as part of the Criminal
                Enterprise Starter Pack may take up to 7-10 days after the player’s first session in GTA Online to be
                reflected in their in-game User Account. This bonus cash is only available to first-time Starter Pack
                owners.
            </p>
        </div>

        <div class="game_indepth_details">
            <p class="game_depth_title">Grand Theft Auto V: Premium Edition</p>
            <p class="game_depth_info">
                The Grand Theft Auto V: Premium Edition includes the complete Grand Theft Auto V story experience, free
                access to the ever evolving Grand Theft Auto Online and all existing gameplay upgrades and content
                including The Doomsday Heist, Gunrunning, Smuggler’s Run, Bikers and much more. You’ll also get the
                Criminal Enterprise Starter Pack, the fastest way to jumpstart your criminal empire in Grand Theft Auto
                Online.
            </p>
        </div>
        <div class="game_indepth_details">
            <p class="game_depth_title">Grand Theft Auto V: Premium Edition</p>
            <p class="game_depth_info">
                The Grand Theft Auto V: Premium Edition includes the complete Grand Theft Auto V story experience, free
                access to the ever evolving Grand Theft Auto Online and all existing gameplay upgrades and content
                including The Doomsday Heist, Gunrunning, Smuggler’s Run, Bikers and much more. You’ll also get the
                Criminal Enterprise Starter Pack, the fastest way to jumpstart your criminal empire in Grand Theft Auto
                Online.
            </p>
        </div>
        <div class="game_indepth_details">
            <p class="game_depth_title">Grand Theft Auto V: Premium Edition</p>
            <p class="game_depth_info">
                The Grand Theft Auto V: Premium Edition includes the complete Grand Theft Auto V story experience, free
                access to the ever evolving Grand Theft Auto Online and all existing gameplay upgrades and content
                including The Doomsday Heist, Gunrunning, Smuggler’s Run, Bikers and much more. You’ll also get the
                Criminal Enterprise Starter Pack, the fastest way to jumpstart your criminal empire in Grand Theft Auto
                Online.
            </p>
        </div>
        <div class="game_indepth_details">
            <p class="game_depth_title">Grand Theft Auto V: Premium Edition</p>
            <p class="game_depth_info">
                The Grand Theft Auto V: Premium Edition includes the complete Grand Theft Auto V story experience, free
                access to the ever evolving Grand Theft Auto Online and all existing gameplay upgrades and content
                including The Doomsday Heist, Gunrunning, Smuggler’s Run, Bikers and much more. You’ll also get the
                Criminal Enterprise Starter Pack, the fastest way to jumpstart your criminal empire in Grand Theft Auto
                Online.
            </p>
        </div>
    </div>



    <!-- gamesapage side hover part -->
    <aside class="game_detail_hover">
        <div class="game_detail_hover_cont">
            <div class="flex_detail_cont">
                <div class="game_hover_logo">
                    <img id="game_hover_logo_link" src="{{slider.logo_img}}" alt="">
                </div>
                <p id="type_game">{{slider.version}}</p>
                <div class="disccount_and_price">
                    <p href="" class="discount_percent">{{slider.off_percent}}</p>
                    <s class="discount_price">₹{{slider.cut_price}}</s>
                    <p href="" class="price_after_discount">₹{{slider.after_price}}</p>
                </div>
                <p id="game_sale_detail_hover">
                    Sale ends 1/26/2023 at 9:30 PM
                </p>
                <button class="btn btn_blue pre_pur_add_cart" id="pre_purchase">PRE PURCHAES</button>
                <button class="btn pre_pur_add_cart">ADD TO CART</button>
                <button class="btn pre_pur_add_cart_sm">
                    <span id="wishlist_icon">+</span>
                    ADD TO WISHLIST
                </button>

                <!-- game-details -->
                <div class="games_main_details_inshort_container">
                    <div class="details_inshort">
                        <p class="details_inshort_left">Refund Type</p>
                        <p class="details_inshort_right">Self-Refundable</p>

                    </div>
                    <div class="details_inshort">
                        <p class="details_inshort_left">Developer</p>
                        <p class="details_inshort_right">Moving Pieces Interactive</p>
                    </div>
                    <div class="details_inshort">
                        <p class="details_inshort_left">Publisher</p>
                        <p class="details_inshort_right">Moving Pieces Interactive</p>
                    </div>
                    <div class="details_inshort">
                        <p class="details_inshort_left">Available</p>
                        <p class="details_inshort_right">01/26/23</p>
                    </div>
                    <div class="details_inshort">
                        <p class="details_inshort_left">Platform</p>
                        <p class="details_inshort_right"></p>
                    </div>
                </div>

                <div class="hover_btns">
                    <button class="btn btn_half">
                        SHARE
                    </button>
                    <button class="btn btn_half">
                        REPORT
                    </button>
                </div>
            </div>
        </div>
    </aside>
</section>